In [223]:
# Create a python script for analyzing the financial records of our company

# import pandas to help run script

import pandas as pd
from pathlib import Path
import numpy as np
%matplotlib inline

In [224]:
# Python Script needs to include the following:

# The total number of months included in the dataset
# The net total amount of Profit/losses over the entire period
# The average of the changes in Profit/Losses over the entire period
# The greatest increase in profits (date and amount) over the entire period
# The greatest decrease in losses (date and amount) over the entire period

In [225]:
# create a file to the path 
csvpath = Path("../PyBank/raw_budget_data.csv")

# Time to read the CSV as a dataframe using Pandas

budget_data = pd.read_csv(csvpath)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [226]:
#Quick check to see how many rows there are:
budget_data.count()

Date             86
Profit/Losses    86
dtype: int64

In [227]:
#Count the number of rows which will tell us the total amount of months:
months = len(budget_data)
print(months)

#Creating a variable that will serve as a function to answer question 1:
total_months = (f"The total number of months in the data set is: {months} months")

86

In [228]:
# The net total amount of Profit/losses over the entire period:

#This function will help me add the total profit and losses found in the Profit/Losses column:
totals = budget_data.sum(1)
total_profit = sum(totals)
print(total_profit)

#Creating a variable that will serve as a function to answer question 2:
total_profits = (f"The total net amount of profit is: ${total_profit}")

38382578

In [229]:
# The average of the changes in Profit/Losses over the entire period:

#First find the Average Change by creating a new column that determines the actual monthly changes:

budget_data["Average Change"] = budget_data["Profit/Losses"] - budget_data["Profit/Losses"].shift(1) 
budget_data.head()

       Date  Profit/Losses  Average Change
0  Jan-2010         867884             NaN
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0

In [230]:
#Now its time to determine the average change in the column Average Change:

#First drop any missing datapoints as that will mess up the data:
budget_data["Average Change"] = budget_data["Average Change"].dropna()

#Now that its clean use the mean function here to determine the average of the Average changes in income. I am using the round function to round it to 2 places:
average_budget_data = round(budget_data["Average Change"].mean(), 2)
print(average_budget_data)

#Creating a variable that will serve as a function to answer question 3:
average_budget_data_change = (f"The average of the average change in profit/losses is: ${average_budget_data}")

-2315.12

In [231]:
# The greatest increase in profits (date and amount) over the entire period:

#This function will allow me to locate which row has the greatest increase in profit:
greatest_increase_profit = budget_data['Average Change'].max()
print(greatest_increase_profit)

#This will allow me to see what the date of the greatest increase in profit was: 
print(budget_data.loc[budget_data['Average Change']== 1926159]['Date'])

#Using the printed .loc I am creating a function that uses the index value to help with creating a single output for the function allowing me to add it to the answer in a clean method:
profit_gain_date =(budget_data.iloc[25,0])
      
# Creating a sentence using the data:
greatest_increased_profit = (f"Greatest increase in profits occurred on: {profit_gain_date} for ${greatest_increase_profit}")

1926159.0
25    Feb-2012
Name: Date, dtype: object

In [232]:
# The greatest decrease in losses (date and amount) over the entire period:

#This function will allow me to locate which row has the greatest decrease in profit:
greatest_decrease_profit = budget_data['Average Change'].min()
print(greatest_decrease_profit)

#This will allow me to see what the date of the greatest decrease in profit was:
print(budget_data.loc[budget_data['Average Change']== -2196167]['Date'])

#Using the printed .loc I am creating a function that uses the index value to help with creating a single output for the function allowing me to add it to the answer in a clean method:
profit_loss_date =(budget_data.iloc[44,0])

# Creating a sentence using the data:
greatest_decreased_profit = (f"Greatest decrease in profits occurred on: {profit_loss_date} for ${greatest_decrease_profit}")

-2196167.0
44    Sep-2013
Name: Date, dtype: object

In [233]:
print("-----------------------------------------------------------------------------------------------------------------")
print(f"The data presented above this line were used for sanity checks please refer to the bottom data for final results")

-----------------------------------------------------------------------------------------------------------------
The data presented above this line were used for sanity checks please refer to the bottom data for final results

In [234]:
# Time to print the results

print(f"Financial Analysis:")
print()
print(total_months)
print(total_profits)
print(average_budget_data_change)
print(greatest_increased_profit)
print(greatest_decreased_profit)

Financial Analysis:

The total number of months in the data set is: 86 months
The total net amount of profit is: $38382578
The average of the average change in profit/losses is: $-2315.12
Greatest increase in profits occurred on: Feb-2012 for $1926159.0
Greatest decrease in profits occurred on: Sep-2013 for $-2196167.0